 
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

button {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s, font-size 0.3s;
  background-color: black;
  color:white;
  box-shadow: 1px 1px 10px white;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
  font-size: 1.3rem;
}

button:active {
  transform: scale(0.95);
  opacity: 1;
  font-size: 1.2rem;
}

.container {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.navbar{
    width: 50%;
    height: 7%;
    /* background-color: rgba(128, 128, 128, 0.42); */
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
}

.link{
    text-decoration: none;
    color: white;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 1px 1px 10px white;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.link:hover{
    transform: scale(1.1);
    border-bottom: 3px solid white;
}

.link:active{
    transform: scale(0.95);
}

.link.active {
  border-bottom: 2px solid #0088ff;
}

.hero{
    width: 100%;
    height: 77%;
    /* background-color: gray; */
    /* border: 1px solid white; */
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}

.hero h1{
  text-shadow: 1px 1px 10px orange;
  font-size: 3.5rem;
}

.hero h2{
  text-shadow: 1px 4px 5px rgb(17, 221, 48);
  margin-top: 10px;
  font-size: 2rem;
}

.myDetails{
  width: 100%;
  height: 75%;
  /* background: wheat; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem 5rem;
}

.myPhoto{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  /* background: rebeccapurple; */
  box-shadow: 10px 10px 600px #0088ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myPhoto img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 10px 10px 600px #0088ff;
}

.aboutMe{
  width: 60%;
  height: 100%;
  background: ;
  display: flex;
  justify-content: center;
  align-items: center;  
  padding: 0rem 5rem;
}

.aboutMe p{
  font-size: 1.2rem;
  line-height: 42px;
}

.footer{
    width: 50%;
    height: 7%;
    /* background-color: rgba(128, 128, 128, 0.433); */
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 20px;
}